@model AlloyTraining.Models.ViewModels.DefaultPageViewModel<AlloyTraining.Models.Pages.NewsPage>

@{
    Layout = "~/Views/Shared/_LeftNavigation.cshtml";
}
<h1>@Html.PropertyFor(x => x.CurrentPage.PageName)</h1>

<p class="introduction" >
    @Html.PropertyFor(x => x.CurrentPage.MetaDescription)
</p>

<div class="row">
    <div class="span8">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
        @Html.PropertyFor(x => x.CurrentPage.MainListing)
    </div>
</div>

