@using AlloyTraining.Models.ViewModels
@model DefaultPageViewModel<AlloyTraining.Models.Pages.StartPage>



<h2 @Html.EditAttributes(x => x.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading ?? Model.CurrentPage.PageName)
</h2>
<div>
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
</div>

@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new {CssClass="border", tag="span4"})

